.formupload{
  display: flex;
  flex-direction: column;

  & label{

    & img{
      width: 30px;
      background-color: $primary;
    }
  }

  & input{
    height: 35px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid $primary;
    padding: 5px 10px;

    &::placeholder{
      font-size: 14px;
    }
  }
}