.button{
    display: inline-block;
    background-color: $primary;
    color: $light;
    border-radius: 5px;
    outline: none;
    border: none;
    text-align: center;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: 400;
    width: 100%;
    cursor: pointer;
    transition: background 400ms;

    &:hover{
        background-color: darken($primary, 7%); 
    }
}