.sendproject{
  margin: 0 auto;
  width: 90%;
  padding: 20px 0;

  @include media-from(tablet){
    width: 100%;
  }

  &__title{
    text-align: center;

    @include media-from(tablet){
      text-align: left;
    }
  }

  &__form{
    @include media-from(tablet){
      margin-top: 20px;
    }
  }
}

