// text colors
.text-primary{
  color: $primary;
}

.text-secondary{
  color: $secondary;
}

.text-tertiary{
  color: $tertiary;
}

.text-light{
  color: $light;
}

.text-dark{
  color: $dark;
}

// background colors
.bg-primary{
  background-color: $primary;
}

.bg-secondary{
  background-color: $secondary;
}

.bg-tertiary{
  background-color: $tertiary;
}

.bg-light{
  background-color: $light;
}

.bg-dark{
  background-color: $dark;
}